.alldetails{
     width: 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.details{
     display: flex;
     flex-direction: column;

}
.addtocart{
     position: fixed;
     top:92%;
     z-index: 2;
     border: none;
     background-color: #008cff;
     color: rgb(0, 0, 0);
     font-size:larger;
     box-shadow: 1px 1px 2px rgb(240, 240, 240);
     height: 60px;
     text-align: center;
     width: 40%;
     left: 20px;
     border-radius: 5px;
}
.addtocart2{
     position: fixed;
     top:92%;
     z-index: 2;
     border: none;
     background-color: #ffffff;
     color: rgb(0, 0, 0);
     font-size:larger;
     box-shadow: 1px 1px 2px rgb(240, 240, 240);
     height: 60px;
     text-align: center;
     width: 40%;
     right: 20px;
     border-radius: 5px;
}
.top-bar{
    
     display: flex;
     background-color: #ffffff;
     padding: 8px;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 10px;
}
.popup {
     position: fixed;
     bottom: 50%;
     left: 50%;
     transform: translateX(-50%);
     background-color: #ffffff;
     color: rgb(42, 167, 0);
     padding: 10px 20px;
     border-radius: 4px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     font-weight: bold;
     z-index: 1000;
     display: inline-block;
     text-align: center;
   }
   